#register{
    width: 50%;
    height: 75%;
    position: absolute;
    margin: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    border-radius: 10px;
}

form{
    width: 75%;
    margin: auto;
    margin-top: 5%;
}